<div class="container">
    <div class="Pannel">
      <div class="colorpanel">
        <span 
          class="colors" 
          *ngFor="let color of colors"
          [style.background-color]="color"
          [color]="color"
          appCustome
          appColorSelector
          (colorSelected)="handleColorClick($event)">
        </span>
      </div>
    </div>
  
    <div class="right-box">

      <h2 [appLastColor]="selectedColors[selectedColors.length - 1]" class="color-text">
        Selected Color
      </h2>
      <div>
        <button (click)="clearColors()" class="btn mb-3 btn-danger btn-clear">Clear</button>
      </div>
      
      <div class="color-card" *ngFor="let c of selectedColors" [style.background-color]="c">
        <span>{{ c }}</span>
      </div>
    </div>
  </div>
  