<div class="container d-flex justify-content-center align-items-center min-vh-100 ">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-lg rounded-4 border-0 p-3">
        <div class="card-body">
          <h2 class="text-center text-primary fw-bold mb-4">Reset Password</h2>
          <form #forgotForm="ngForm" (ngSubmit)="resetPassword(forgotForm)">
            <div class="form-floating mb-4">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                [(ngModel)]="forgotData.email"
                #email="ngModel"
                required
                email
              />
              <label for="email">Email address</label>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger small mt-1">
                <small *ngIf="email.errors?.['required']">Email is required</small>
                <small *ngIf="email.errors?.['email']">Enter a valid email</small>
              </div>
            </div>
  
           
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg rounded-pill" style="background-color: #4a90e2;" [disabled]="!forgotForm.valid">
                <i class="bi bi-arrow-repeat me-2"></i> Send Reset Link
              </button>
            </div>
          </form>
  
          
          <div class="text-center mt-3">
            <a routerLink="/auth" class="text-decoration-none">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  