<div class="container mt-5 searchCard">
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h5 class="card-title text-center">Enter News Topic</h5>
      <div class="input-group mb-4">
        <input
          type="text"
          id="search"
          class="form-control rounded-pill"
          placeholder="Search for news"
          [(ngModel)]="searchQuery"
          (input)="onSearchInputChange($event)"
        />
      </div>
      <div *ngIf="loading && newsData.length === 0" class="text-center my-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p class="mt-2">Loading news...</p>
      </div>
      <div *ngIf="newsData.length > 0">
        <div class="mb-5 text-muted text-end">
          <small>{{ totalResults }} results found in {{ timeTaken.toFixed(2) }} seconds</small>
        </div>
        <div
          *ngFor="let news of newsData"
          class="row mb-4 p-3 border rounded shadow-sm news-item g-3 align-items-center"
        >
          <app-news-card [news]="news"></app-news-card>
        </div>
      </div>
      <div *ngIf="newsData.length === 0 && !loading" class="text-center mt-4">
        <p class="text-muted">No results found. Please try another search.</p>
      </div>
    </div>
  </div>
</div>
